*{
  margin: 0;
  padding: 0;
}
.linkage {
  display: flex;
}
nav{
  width: 50px;
}
dd {
  height: 60px;
}
dt {
  height: 36px;
  /* 当顶着父容器， 会吸顶 */
  position: sticky;
  top: 0;
  left: 0;
}
.tab-detail{
  flex: 1;
  /* flex-grow flex-shrink flex-basis */
  height: 100vh;
  overflow-y:scroll;
}
.active{
  color: red;
}