* {
    margin: 0;
    padding: 0;
  }
  body {
    /* css 继承 */
    font-size: 0.25rem;
  }
  #map {
    width: 100vw;
    height: 100vh;
  }
  img {
    max-width: 100%;
  }
  .poi-item-wrapper {
    background-color: #fff;
    padding: 0.24rem 0 0 0.3rem;
    border-bottom: 1px solid #e5e5e5;
  }
  .poi-item-wrapper .poi-info-wrapper {
    display: flex;
  }
  .poi-item-wrapper .image-wrapper {
    position: relative;
    margin-top: 0.05rem;
    width: 1.6rem;
    height: 1.61rem;
  }
  .poi-item-wrapper .poi-info {
    margin-left: 0.18rem;
    flex: 1;
  }
  .poi-item-wrapper .poi-info .price-wrapper {
    position: relative;
    font-size: 0.24rem;
    line-height: 0.33rem;
    margin-top: 0.06rem;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    height: 0.5rem;
  }
  .poi-item-wrapper .poi-info .location {
    position: absolute;
    top: 0;
    right: 0;
    height: 0.33rem;
    line-height: 0.33rem;
    font-size: 0.24rem;
    font-family: PingFangSC-Regular;
    color: #666666;
    letter-spacing: 0.2px;
  }
  .poi-item-wrapper .poi-info .stars{
      position: absolute;
  }
  .poi-item-wrapper .poi-info .stars ul li{
    list-style:none; float:left; font-size:30px; margin:5px; color:#f00; cursor:pointer;
  }

  .poi-item-wrapper .poi-info .info-wrapper {
    position: relative;
    font-size: 0.24rem;
    line-height: 0.33rem;
    margin-top: 0.06rem;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    height: 2rem;
  }
  .poi-item-wrapper .poi-info .info-wrapper .peisong{
    position: absolute;
    top: 0;left: 0;
  }
  .poi-item-wrapper .poi-info .info-wrapper .waimai{
    position: absolute;
    top: 0;right: 0;
    background-color: rgb(230, 245, 22);
  }