.stars{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 50px;
}
.img_warp{
  width: 120px;
  height: 120px;
  background-color: blue;
  overflow: hidden;
}
.pic{
  height: 120px;
}
.star{
  display: flex;
  flex-direction: column;
  text-align: center;
  margin: 20px;
  width: 120px;
  height: 168px;
 
}

.star:last-child{
  border: 1px dotted #000;
  color: #b2b2b2;
}
.create{
  width: 50px;
  margin-top: 35px;
}