* {
  margin: 0;
  padding: 0;
}
html,
body {
  height: 100%;
}
html {
  font-size: 10px;
  background: url("https://ss1.bdstatic.com/70cFvXSh_Q1YnxGkpoWK1HF6hhy/it/u=3667317775,2758775608&fm=26&gp=0.jpg") bottom center;
  background-size: 100%;
}
html .keys {
  display: -webkit-flex;
  display: flex;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
}
html .keys .key {
  margin: 1rem;
  border: 0.4rem solid #000;
  border-radius: 0.5rem;
  font-size: 1.5rem;
  padding: 1rem 0.5rem;
  width: 10rem;
  text-align: center;
  color: #fff;
  background: rgba(0,0,0,0.4);
  text-shadow: 0 0 0.5rem #000;
  transition: all 0.5s;
}
html .keys .key div {
  display: block;
  font-size: 4rem;
}
html .keys .key .sound {
  font-size: 1.2rem;
  text-transform: uppercase;
  color: #ffc600;
}
html .keys .playing {
  border: 0.4rem solid #ff0;
  transition: all 0.4s;
}
