*{
    margin: 0;padding: 0;
}
#page-one{
    position: absolute;
    left: 0;top: 0;bottom: 0;right: 0;
    background-color: yellow;
    text-align: center;
    color: white;
}
#page-one button{
    /* outline: button的外边框去掉 */
    outline: none;
    /* 自己画边框 */
    border: 1px solid transparent;
    padding: 6px 12px;
    background-color: #128bca;
    width: 300px;
    border-radius: 6px;
}
#page-two{
    display: flex;
    /* 自动换行 */
    flex-wrap: wrap;
}
#page-two .block{
    width: 50%;
    
}
#page-two .block div{
    /* calc 一个函数 */
    width: calc(100% - 2px);
    height: calc(100% - 2px);
}